{{ form_start(form) }}
<div class="container">
<div class=" row align-items-left h6">
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom, {attr : {class: 'form-control col-md-6'}})}}

        {{ form_label(form.prenom) }}
        {{ form_widget(form.prenom, {attr : {class: 'form-control col-md-6'}})}}

        {{ form_label(form.telephone) }}
        {{ form_widget(form.telephone, {attr : {class: 'form-control col-md-6'}})}}

        {{ form_label(form.Email) }}
        {{ form_widget(form.Email, {attr : {class: 'form-control col-md-6'}})}}
 
        {{ form_label(form.adresse) }}
        {{ form_widget(form.adresse, {attr : {class: 'form-control col-md-12'}})}}
  
        {{ form_label(form.poste) }}
        {{ form_widget(form.poste, {attr : {class: 'form-control col-md-6'}})}}
   
        {{ form_label(form.salaire) }}
        {{ form_widget(form.salaire, {attr : {class: 'form-control col-md-6'}})}}

        {{ form_label(form.dateDeNaissance) }}
        {{ form_widget(form.dateDeNaissance, {attr : {class: 'form-control col-md-4'}})}}
   </div>
    <br>
    <button class="btn btn-outline-success">{{ button_label|default('Valider') }}</button>

    </div>
{{ form_end(form) }}